/*===============================================
Global
===============================================*/
@font-face {
    font-family: 'gotham_blackregular';
    src: url('../fonts/copyfonts.com_gotham_black-webfont.eot');
    src: url('../fonts/copyfonts.com_gotham_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copyfonts.com_gotham_black-webfont.woff2') format('woff2'),
         url('../fonts/copyfonts.com_gotham_black-webfont.woff') format('woff'),
         url('../fonts/copyfonts.com_gotham_black-webfont.ttf') format('truetype'),
         url('../fonts/copyfonts.com_gotham_black-webfont.svg#gotham_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_boldregular';
    src: url('../fonts/copyfonts.com_gotham_bold-webfont.eot');
    src: url('../fonts/copyfonts.com_gotham_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copyfonts.com_gotham_bold-webfont.woff2') format('woff2'),
         url('../fonts/copyfonts.com_gotham_bold-webfont.woff') format('woff'),
         url('../fonts/copyfonts.com_gotham_bold-webfont.ttf') format('truetype'),
         url('../fonts/copyfonts.com_gotham_bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/copyfonts.com_gotham_book1-webfont.eot');
    src: url('../fonts/copyfonts.com_gotham_book1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copyfonts.com_gotham_book1-webfont.woff2') format('woff2'),
         url('../fonts/copyfonts.com_gotham_book1-webfont.woff') format('woff'),
         url('../fonts/copyfonts.com_gotham_book1-webfont.ttf') format('truetype'),
         url('../fonts/copyfonts.com_gotham_book1-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_extralightregular';
    src: url('../fonts/copyfonts.com_gotham_extralight-webfont.eot');
    src: url('../fonts/copyfonts.com_gotham_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copyfonts.com_gotham_extralight-webfont.woff2') format('woff2'),
         url('../fonts/copyfonts.com_gotham_extralight-webfont.woff') format('woff'),
         url('../fonts/copyfonts.com_gotham_extralight-webfont.ttf') format('truetype'),
         url('../fonts/copyfonts.com_gotham_extralight-webfont.svg#gotham_extralightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_lightregular';
    src: url('../fonts/copyfonts.com_gotham_light-webfont.eot');
    src: url('../fonts/copyfonts.com_gotham_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copyfonts.com_gotham_light-webfont.woff2') format('woff2'),
         url('../fonts/copyfonts.com_gotham_light-webfont.woff') format('woff'),
         url('../fonts/copyfonts.com_gotham_light-webfont.ttf') format('truetype'),
         url('../fonts/copyfonts.com_gotham_light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_mediumregular';
    src: url('../fonts/copyfonts.com_gotham_medium-webfont.eot');
    src: url('../fonts/copyfonts.com_gotham_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copyfonts.com_gotham_medium-webfont.woff2') format('woff2'),
         url('../fonts/copyfonts.com_gotham_medium-webfont.woff') format('woff'),
         url('../fonts/copyfonts.com_gotham_medium-webfont.ttf') format('truetype'),
         url('../fonts/copyfonts.com_gotham_medium-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
	color: #ffffff;
	font-weight: 100;
	height: 100%;
	overflow-x: hidden;
	font-family: 'gotham_bookregular';
}
.bold{font-family: 'gotham_boldregular';}
.clear{clear: both;}
h1{font-size: 33px;text-align: left;margin:0;}
h2,h6{margin: 0;}
a{
	color: #fff;
	text-decoration: none;
	border: none;
	outline:none
}
a:hover{
	color: #fff;
	text-decoration: none;
}
a:focus,a:visited{text-decoration: none;color:#fff;}
ul{padding: 0;}
li{list-style: none;}
.transparent-bg{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 5;
	top: 0;
	background-color: rgba(0,0,0,.8);
	display: none;
}
.align-center{text-align: center;}
.white-border-top{border-top: 1px solid #fff;}
.main-logo{
	text-indent: -9999px;
	background: url("../img/coke-logo.png") no-repeat;
	height: 100px;
	width: 100%;
	float: left;
	margin: 40px 0 0 0;
	background-size: contain;
}
.header-tagline{float: right;font-size: 30px;margin-top: 98px;padding-left: 20px;text-align: right;}
header{overflow: auto;}
.wrap{
	width: 90%;
	margin-left: 5%;
}
textarea{color: #000;}
/*===============================================
Home
===============================================*/
.background, .background-gradient{
	background-image: url("../img/home_india.jpg");
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
	top: 0;  
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center; 
}
.background-gradient{
	background-image: initial;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f40000+0,cd1d20+54,a00305+100 */
	background: #f40000; /* Old browsers */
	background: -moz-linear-gradient(top,  #f40000 0%, #cd1d20 54%, #a00305 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f40000 0%,#cd1d20 54%,#a00305 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f40000 0%,#cd1d20 54%,#a00305 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f40000', endColorstr='#a00305',GradientType=0 ); /* IE6-9 */
}
.overlay{
	background-color: rgba(244,0,0,.7);
	padding: 85px 0;
	width: 100%;
	margin-top: 20%;
}
.overlay img{
	margin-left: 20%;
	width: 60%;
}
.overlay h1{
	width: 100%;
	text-align: center;
	font-size: 45px;
	font-family: 'gotham_extralightregular';
	margin: 40px 0;
}
.home-menu-container{
	overflow: auto;
}
.menu-item-bg{
	background: url("../img/menu-item-bg.png") no-repeat;
    top: 0;
    background-position: center center;
    width: 70%;
    height: auto;
    background-size: contain;
    min-height: 210px;
    margin-left: 15%;
}
.menu-item img{
	width: 60%;
	margin-left: 0;
}
.menu-item a{
	font-size: 40px;
	text-align: center;
	line-height: 25px;
	display: block;
	margin-top: 20px;
	font-family: 'gotham_lightregular';
}
a.hm-item-description{font-size: 19px; line-height: 20px}
.home-menu-container{overflow-y: hidden}
/*===============================================
Menu Page
===============================================*/
.menu-nav-container{
	overflow: auto;
	padding-top: 70px;
}
.menu-nav-item a{margin-top: 0;}
.menu-nav-item img{
	width: 40%;
}
.menu-nav-item-bg{
	position: absolute;
    top: 10%;
    background: url("../img/menu-item-bg.png") no-repeat;
    background-size: contain;
    background-position: center center;
    width: 65%;
    height: 80%;
    z-index: -1;
    margin-left: 12%;
}
.bottom-nav{
	position: fixed;
	bottom: 70px;
	width: 100%;
}
.menu-option{
	width: 90%;
	padding: 50px 45px;
	box-sizing: border-box;
	border: 1px solid #fff;
	border-radius: 170px;
	overflow: auto;
	margin: 40px 0 40px 5%;
}
.option{text-align: center;}
.option span{
	margin-top: 10px;
	float: left;
	width: 100%;
	font-size: 25px;
	font-family: 'gotham_mediumregular';
}
.company-logo{
	margin: 40px auto;
	display: block;
	width: 60% !important;
	margin-left: 19% !important;
}

.product-menu-content{
	 position: absolute;
  	 top: 55%;
  	 left: 50%;
  	 transform: translate(-50%, -60%);
  	 width: 80%;
}
.product-menu-content .option img{
	max-width: 160px
}

/*===============================================
Right Nav
===============================================*/
.right-nav{
  position: absolute;
  top: 45%;
  transform: translateX(-50%);
  right: -140px;
}
.right-nav ul{
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.right-nav li{
	float: left;
	list-style: none;
}
.right-nav a, .menu-close{
	background-color: #B30C08;
	padding: 15px 20px 50px 20px;
	box-sizing: border-box;
	border-radius: 50%;
	text-transform: uppercase;
}
.slideout-header{
	margin-bottom: 20px;
	overflow: auto;
}
.menu-slideout-container{
	position: absolute;
	width: 90%;
	height: 500px;
	left: 100%;
	display: none;
	top: 5%;
}
.menu-slide-out{
	position: relative;
    z-index: 7;
    background-color: #f40000;
    top: 0;
    padding: 40px;
    display: inline-block;
}										
.menu-close{
	background-color: #fff;
	color: #f40000 !important;
	font-size: 12px !important;
	display: inline-block;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    position: absolute;
    top: 10%;
    left: -40px;
    z-index: 6;
}
.menu-slide-out a{
	font-size: 30px;
	line-height: 19px;
}
.menu-slide-out span{
	font-size: 12px;
	line-height: 12px;
}
.menu-slide-out .menu-item img {
    width: 60%;
}
.row{padding: 20px 0;}
.row1,.row2{padding: 5px 0 20px 0;}
.row h1{font-size: 26px;}
.row h2{font-size: 15px; margin-bottom: 20px;text-align: left;}
.row3 .section:nth-child(1){
	width: 64%;
	margin-right: 2%;
	float: left;
	padding: 5px 0 20px 0;
}
.menu-item h2{ margin: 20px 0 10px 0;}
.row h2 a {
	font-size: 22px !important;
}
.row3 .section:nth-child(2){
	width: 34%;
	float: left;
	padding: 5px 0 20px 0;
}
.menu-slide-out .menu-item{
	margin-bottom: 20px;
}
.menu-slide-out .menu-item a{
	font-size: 15px;
}
.menu-slide-out .row3 .menu-item img {
	width: 100%;
	max-width: 70px;
}
.row3 .menu-item{padding: 0;}
.row3 .section:nth-child(2) img{width: 48.5%;}
.row .menu-item a {margin-top: 0}
.section img{margin-bottom: 15px;}
/*===============================================
left Nav
===============================================*/
.rotate-menu-item{display: none}
.left-nav li{
    float: left;
    margin-bottom: 20px;
    padding-bottom: 10px
}
.left-nav li a{
	border-radius: 50%;
	border: 1px solid #fff;
	padding: 50px 31px;
    float: left;
}
.left-nav .active{
	color: #f40000;
	/*background-color: #fff;*/
}
.product-left-nav li a{
	border:none;
	padding: 0;
}
.product-left-nav li {
	width: 90%;
}

.left-nav li.active-menu-item{
	border-radius: 0;
	background-color: #B30C08 !important;
	color: #fff;
	border: none;
}
.product-menu-content h1{font-size: 70px;}
.product-menu-content h3{font-size: 45px;font-family: 'gotham_extralightregular';width: 100%;margin:0;}
/*===============================================
Product Page
===============================================*/
.product-header{margin-bottom: 40px;}
.product-left-nav{
	position: relative;
	left: 0;
}
.product-left-nav ul{display: inline-block;}
.product-left-nav a{
	float: left;
	width: 100%;
}
.left-nav h5{
	display: block;
	text-align: center;
	font-size: 25px;
	margin: 10px 0 0 0;
}
.product-left-nav a img{
	width: 100%;
}
.product-content img{
	width: 95%;
}
.product-lightbox-container {
	width: 67%;
	margin-left: 25%;
	position: absolute;
	box-shadow: 2px 10px 19px rgba(0,0,0,.3);
	top: -100%;
	z-index: 5;
}
.product-lightbox-container .top-section{
	min-height: 340px;
	background-color: #fff;
	position: relative;
}
.product-lightbox-container .bottom-section{
	background-color: #fff;
	border-bottom: #B30C08 solid 55px;
	position: relative;
	padding-bottom: 40px;
}
.modalx-container{
	float: right;
	padding: 10px;
	background-color: #B30C08;
	-webkit-border-top-left-radius: 50px;
	-webkit-border-top-right-radius: 50px;
	-moz-border-top-left-radius: 50px;
	-moz-border-top-right-radius: 50px;
	margin-top: -65px;
	box-shadow: 2px -2px 24px rgba(0,0,0,.1);
}
.bottom-section .carousel-indicators{
	z-index: 2
}
.menu-activated-toggles h6{
	font-size: 22px;
	width: 100%;
	text-align: center;
	margin: 0;
}
.next a img{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.prev a img,.next a img{width: 100%;}
.next a, .prev a{
    width: 25%;
    margin-left: 16%;
    background-color: transparent !important;
}
.rotate-carousel-indicators{display: none}
#product-info-carousel .carousel-inner img{width: 100%;}
.rotate-menu-item-active{
	background-color: #B30C08 !important;
	border-radius: 0;
}
/*info*/
.info-carousel-indicators{
	bottom: initial;
	top: 10px;
}
.show-form{
	color: #f40000 !important;
	float: left;
	margin-top: 3px;
	margin-right: 10px;
}
.show-form-img{
	float: right;
	margin-top: 0;
	width: 50px
}
.show-form-img img{
	width: 100%;
}
.show-form-container{
	float: right;
	margin-top: 20px;
	margin-right: 30px;
}
.bottom-content .slider-container{
	width: 20%;
	float: left;
	margin-left: 30px;
	margin-top: 21px;
}
.bottom-section .slider-controls .prev,.bottom-section .slider-controls .next{width: 20%; float: left;margin-right: 5%;}
.show-form:hover{color: #f40000;}
.info-carousel-indicators{left: 8.5%;}
.info-carousel-indicators .active{background-color: #f40000;}
.info-carousel-indicators li {border: #f40000 1px solid;}
.info-buttons{
	float: left;
	width: 100%;
	margin-top: 57px;
	padding-left: 33px;
	margin-bottom: 20px;
}
.info-buttons li{
	list-style:none;
	float: left;
	color: #f40000;
	width: 22%;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 10px;
	border: #f40000 1px solid;
	margin-left: 2%;
	text-align: center;
}
.info-buttons li:nth-child(1){margin-left: 0;}
.info-buttons .active{
	background-color: #f40000;
	color: #fff;
}
.bottom-section,.info-content,.form-section{height: 400px;}
.info-content,.form-section{top: 0;left: 0; position: absolute;width: 100%;z-index: 2}
.form-section{top: 400px;z-index: 3;background-color: #B30C08; padding: 20px;box-sizing: border-box;}
.form-section h2{font-size: 30px; display: inline-block; width: 80%;margin-bottom: 20px;}
.form-section input{
	color: #000;
	display: inline-block;
	width: 75%;
	margin-bottom: 20px;
	height: 50px;
	padding: 5px;
}
::-webkit-input-placeholder {
   color: #000;
}
:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}
:-ms-input-placeholder {  
   color: #000;  
}
.form-section input[type="submit"]{
	max-width: 150px;
	padding:16px 20px 20px 20px;
	border-radius: 15px;
	background-color: #fff;
	color: #f40000;
	display: block;
	border: 0;
}

.bottom-section{overflow: hidden;position: relative;}
.bottom-section .content{
	width: 90%;
    margin-left: 5.5%;
	color: #000;
	font-size: 18px;
}
.close-form{float: right;}
.info-content-section{display: none}
.bottom-section .content .active{display: block}

.open-not-active{display: none;}
/*video*/
#product-video-carousel .carousel-inner iframe{
	margin: 20px auto;
	display: block;
}
#product-video-carousel .carousel-caption{
	display: block;
	position: initial;
	width: 50%;
	text-align: left;
	float: left;
	text-shadow: initial;
	color: #000;
	font-size: 28px;
	padding-bottom: 0px;
}
.video-info-container{
	width:560px;
	margin: 0 auto;
	display: block;
	overflow: auto;
}
.fullscreen{
	width: 43px;
    height: 36px;
	background: url('../img/expand.png');
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	float: right;
}
.video-slider-controls{
	width: 63px;
	float: right;
}
.video-slider-controls .prev,
.video-slider-controls .next,
.tech-slider-toggle .prev,
.tech-slider-toggle .next{
	width: 43%;
	float: left;
	margin-bottom: 20px;
}
.video-slider-controls .prev{margin-right: 5%;}

/*show*/
.bottom-top-container, .bottom-bottom-container{
    overflow: auto;
    padding: 20px 0;
    width: 90%;
    margin-left: 5%;
}
.bottom-top-container{
	border-bottom: 1px solid #939393;
}
.bottom-top-container h2{
	text-align: center;
	color: #f40000;
}
.bottom-bottom-container{clear: both;}
.bottom-bottom-container .prev, .bottom-bottom-container .next{
	width: 4.3%;
	float: left;
	margin-top: 40px;
}
.bottom-bottom-container .next{
	float: right;
	margin-right: 2%;
}
.bottom-slides div{
	float: left;
	width: 27.6%;
	margin-left: 2%;
}
.bottom-slides img{width: 100%;}

/*===============================================
Technology Menu Page
===============================================*/

header.technology{
	border-bottom: 1px solid #fff;
	padding-bottom: 20px;
	margin-bottom: 40px;
}
header.technology div{
	padding: 0;
}
.technology-toggle a{
	padding: 15px 0;
	width: 100%;
	border-radius: 15px;
	color: #fff;
	border: 1px solid #fff;
	float: left;
	text-align: center;
	font-size: 25px;
	font-family: 'gotham_mediumregular';
}
.technology-toggle .active{
	background-color: #fff;
	color: #f40000;
}

.technology-menu-items{
	float: left;
    text-align: center;
    width: 96.5%;
    margin-left: 1.5%;
}
.technology-menu-item a {
	display: block;
	font-size: 25px;
}
.technology-menu-item a:nth-child(2) {margin-top: 10px;}
.technology-menu-item{margin-bottom: 70px;float: left;}
.tab-2, .tab-1{
	margin-top: 80px;
	float: left;
	width: 100%;
}
.tab-2{display: none}
.tab-2 img{
	width: 70%;
	margin-left: 15%;
}
.tab-2 .tech-label{font-size: 20px;font-weight: bold;clear: both}
.tab-2 .tech-description, .tab-2 .tech-name{font-size: 20px;margin: 0 0 40px 0; font-weight: 200;}
.tab-2 .tech-name{font-size: 39px;font-weight: bold;}
.tech-slider-toggle{
	width: 41%;
	margin: 20px 0 20px 31%;
}
.tech-slider-toggle .prev, .tech-slider-toggle .next{width: 32%;}
.tab-2 .prev a img, .tab-2 .next a img{
	width: 27%;
}
.tech-slider-toggle h5{float: left;font-size: 20px;margin: 0;}

/*Sound*/
.technology-content h1{
	font-size: 64px;
	font-weight: 400;
	font-family: 'gotham_extralightregular';
	line-height: 70px;
	margin: 55px 0;
}

.technology-menu{padding:0;}
.technology-menu ul{padding: 23px;}
.technology-menu li a{    
	text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    display: block;
    float: none;
    padding: 41px 0;
}
.technology-menu ul:nth-child(1){
	background-color: #B30C08;
	float: left;
	width: 90%
}
.technology-menu ul:nth-child(1) li{background-color: transparent; border: none;margin-bottom: 0; padding: 0;}
.technology-menu ul:nth-child(1) img{
	width: 100%;
	display: block;
    margin: 0 auto;
}
.technology-menu ul:nth-child(2){margin-top: 20px;float: left;}
.technology-menu ul:nth-child(2) li{
	border-radius: 50%;
    border: 2px solid #fff;
    padding: 12px 11px;
    float: left;
    margin-bottom: 20px;
    width: 140px;
    height: 140px;
}
.technology-menu-item img{width: 70%;}
.slider-container .featured-img{width: 100%;}
.slider-container .slider-toggles{
	width: 15%;
	float: right;
	margin-top: 20px;
}
.slider-container .slider-toggles .prev, .slider-container .slider-toggles .next{
	float: left;
	width: 35%;
	margin-left: 15%;
}
.tech-description{clear: both;margin-top: 20px;float: left;font-size: 29px;font-weight: 200;}
.technology-menu li.active{border:0!important;padding:0 !important;}
.technology-menu li.active a{border:15px solid #fff;}
.technology-content > div{display: none;}
.technology-content .active{display: block;}
.pod{
	border-radius: 85px;
	border: 1px solid #fff;
	margin-left: 5%;
	width: 25%;
	float: left;
	padding: 20px 0;
	position: relative;
}
.pod:nth-child(1){margin-left: 0;}
.pod img{display: block;margin: 0 auto;}
.pod h4{text-align: center; font-size: 35px;font-weight: 100;}
.pod-x{position: absolute;right: -10px;top:-15px;visibility: hidden;}
.active > .pod-x{visibility: visible;}
.pods .active {background-color: #fff;color: #666666;}

/*Light*/

.light-test-container{
	background-color: #B30C08;
	float: left;
	width: 100%;
	padding: 0 20px 40px 20px;
	box-sizing: border-box;
	max-height: 1000px;
}
.befor-after-container{position: relative;z-index: 31;width: 97%;top:-110px;}
.befor-after-container img{margin: 0 auto;display: block;}
.dragger{
	background-color: rgba(235, 247, 254,.2	);
	height: 100%;
	width: 100%;
	left: -50%;
	border-right: 3px solid #000;
}
.light-test-left{height: 810px;margin-top: 20px;overflow: hidden;background: url('../img/bottle.png') #fff; -webkit-background-size: contain;
background-size: contain;}
.light-test-right{background-color: #fff;height: 100%;margin-top: -103px;}
.handle{position: absolute;right:-30px;top: 45%;}
.befor-after-container p{text-align: center;margin: 0;}





.vkb-css-keyboard-icon {
	position: relative;
	top: 1px;
	right: 23px;
	cursor: pointer;
	opacity: 0.3;
}

.vkb-css-keyboard-icon:hover {	
	opacity: 1;
}

.vkb-css-parent-input {
	padding-right: 25px;
}

.vkb-css-hide {
	display: none;
}

.vkb-css-background {
	opacity: 0.8;
	background-color: #000000;
    bottom: 0;
    left: 0;
	position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}

.vkb-button-show-keyboard {
	position: relative;
	cursor: pointer;
	left: -24px;
	top: 1px;
	opacity: 0.5;
	border-radius: 9px 9px 9px 9px;
    padding: 0px 8px;
    background-color: #F89406;
}

.vkb-css-keyboard-box {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    left: 50.6%;
    margin: -250px 0 0 -280px;
    overflow: auto;
    position: fixed;
    top: 50%;
    width: 67%;
    z-index: 1050;

}

.vkb-css-input-box {
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
}

.vkb-css-button-box {
    padding: 7px;
}

.vkb-css-footer-box {
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 #FFFFFF inset;
    margin-bottom: 0;
    padding: 14px 15px 15px;
    text-align: right;
}

.vkb-css-input {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    margin: 10px 0 10px;
    width: 90%;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    line-height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.vkb-main-input:focus{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.vkb-css-button-line {
    text-align: center;
    margin-bottom: 5px;
}

.vkb-css-keyboard-box button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #E6E6E6 #E6E6E6 #A2A2A2;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}


.vkb-css-keyboard-box button:hover {
    background-color: #E6E6E6;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

#vkb_32 {
    width: 260px;
    height: 30px;
    margin-right: 60px;
}

#vkb_success {
    background-color: #f40000;
    background-image: -moz-linear-gradient(center top , #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#vkb_success:hover{
    background-color: #f40000;
    color: #FFFFFF;
}

#vkb_8, #vkb_37, #vkb_39{
    background-color: #363636;
    background-image: -moz-linear-gradient(center top , #444444, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#vkb_8:hover, #vkb_37:hover, #vkb_39:hover{
    background-color: #222222;
    color: #FFFFFF;
}









